body {
    margin: 0;
    padding: 0;
}
.main__content {

    padding: 70px 25px;
}
@media (min-width: 600px) {
    .main__content {

        padding: 100px 50px;
    }
}
@media (min-width: 800px) {
    .main__content {

        padding: 100px 75px;
    }
}
