{% extends "base.html"%}
{% load static %}

{% block title %}
  <title>Смена пароля</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/form_style.css' %}">
<h3 align="center">Проверьте свою почту</h3><br>
<div align="center">
  <form method="POST" action="{% url 'users:code_for_password' email %}">
    {% csrf_token %}
    <div class="form_component">
      <div class="form-outline mb-4">
        {{ form.code.label }}
        {{ form.code }}
      </div>
      {{ form.email.errors }}
    </div>
    <button type="submit">Подтвердить</button>
  </form>
</div>
{% endblock %}