{% extends "base.html"%}
{% load static %}

{% block title %}
  <title>Смена пароля</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/form_style.css' %}">
<h3 align="center">Новый пароль</h3><br>
<div align="center">
  <form method="POST" action="{% url 'users:password_change' username %}">
    {% csrf_token %}
    <div class="form_component">
      <div class="form-outline mb-4">
        {{ form.password.label }}
        {{ form.password }}
      </div>
      {{ form.password.errors }}
    </div>
    <button type="submit">Подтвердить</button>
  </form>
</div>
{% endblock %}